.line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    height: 1px;
    background: #000000;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.form-pd {
    padding: 40px;
}

.form-top {
    border: 1px solid #000;
}

.bg-font {
    font-size: 48px;
    color: #49b792;
}

.style1 {
    font-size: 24px;
    color: #666566;
}

.style2 {
    color: #00CCCC;
}

.style3 {
    font-size: 36px;
}

.style4 {
    font-size: 32px;
    color: #3e79a2;
}

.result-div {
    background: #fdfbfd;
    border: 1px solid #f5f5f9;
    padding: 20px 0 40px 0;
}
